body {
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper * {
	// background-color: #4169e1;
	padding: 1rem;

	font-size: 2rem;
}

// .wrapper *:nth-child(even) {
// 	background-color: #87ceeb;
// }

.wrapper {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr;
	grid-template-areas:
		'header'
		'main'
		'aside-main'
		'sidebar'
		'aside-sec'
		'footer';

	height: 100vh;
	margin: 0 auto;
	// max-width: 1200px;

	@media (min-width: 48em) {
		grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr;
		grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr;
		grid-template-areas:
			'header  header      header       header       header     header'
			'.       main        main         main         sidebar    .'
			'.       aside-main  aside-main   aside-sec    aside-sec  .'
			'footer  footer      footer       footer       footer     footer';
	}

	.w__header {
		background-color: #87ceeb;
		grid-area: header;
	}

	.w__main {
		background-color: #ff7f50;
		grid-area: main;
	}

	.w__sidebar {
		background-color: #4169e1;
		grid-area: sidebar;
	}

	.w__aside_main {
		background-color: #663399;
		grid-area: aside-main;
	}

	.w__aside_sec {
		background-color: #663399;
		grid-area: aside-sec;
	}

	.w__footer {
		background-color: #dc143c;
		grid-area: footer;
	}
}

// @media (min-width: 48em) {
// 	.wrapper {
// 		grid-template-columns: repeat(6, 1fr);
// 		grid-template-rows: 0.5fr 0.2fr 0.5fr 0.5fr;
// 		grid-template-areas:
// 			'header  header      header       header       header     header'
// 			'.       main        main         main         sidebar    .'
// 			'.       aside-main  aside-main   aside-sec    aside-sec  .'
// 			'footer  footer      footer       footer       footer     footer';
// 	}
// }

body {
	font-family: Arial, Helvetica, sans-serif;
}

.con__article {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
		'title  title   title   title  title  title'
		'meta   meta    meta 	meta   meta   meta'
		'copy1  copy1   copy1   copy1  copy1  copy1'
		'copy2  copy2   copy2   copy2  copy2  copy2'
		'media  media   media   media  media  media'
		'aside  aside   aside   aside  aside  aside';

	margin: 0 auto;
	max-width: 1024px;

	& > * {
		min-height: 100px;
		padding: 1rem;
	}
}

@media screen and (min-width: 30em) {
	.con__article {
		grid-template-areas:
			'meta  meta   title   title  title  title'
			'copy1  copy1   copy1   copy1  copy1  copy1'
			'copy2  copy2   copy2   copy2  copy2  copy2'
			'media  media   media   media  media  aside';
	}
}

@media screen and (min-width: 60em) {
	.con__article {
		grid-template-areas:
			'meta   title   title   title  copy2  copy2'
			'copy1  copy1   copy1   copy1  copy2  copy2'
			'copy1  copy1   copy1   copy1  copy2  copy2'
			'media  media   media   media  media  media'
			'aside  aside   .   	   .      .      .    ';
	}
}

.art__header_title {
	background-color: #00ced1;
	grid-area: title;
}

.art__aside_meta {
	background-color: #d3d3d3;
	grid-area: meta;
}

.art__section_copy1 {
	background-color: #4169e1;
	grid-area: copy1;
}

.art__section_copy2 {
	background-color: #bc8f8f;
	grid-area: copy2;
}

.art__figure_media {
	background-color: #f0e68c;
	grid-area: media;
	margin: 0;
}

.art__article_aside {
	background-color: #ff7f50;
	grid-area: aside;
}
