body {
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper * {
	background-color: #4169e1;
	padding: 1rem;

	font-size: 2rem;
}

.wrapper *:nth-child(even) {
	background-color: #87ceeb;
}

@media (min-width: 768px) {
	.wrapper {
		display: grid;

		grid-template-columns: [site-start] 1fr [content-start] repeat(4, 1fr) [site-end];
		grid-template-rows: [site-top] 200px [content-top] 200px [content-bottom] 200px [site-bottom];
		grid-gap: 0.5rem;
	}
}

header,
footer {
	grid-column: site;
}

main {
	grid-column: content;
}

aside {
	grid-column: site-start / content-start;
	grid-row: content-top / content-bottom;
}
